td{
    text-align: center;
    padding: 5px 0;
}

.btns{
    display: flex;
    justify-content: center;
    gap: 10px;
}

.edit_btn,
.delete_btn {
    border-radius: 10px;
    font-size: 10px;
    padding: 0.5em 3em;
    border: 2px solid grey;
    font-weight: 600;
    cursor: pointer;
}

.delete_btn{
    background-color: red;
    color: white;
}