.background{
    width: 100vw;
    height: 100vh;

    position: absolute;
    top: 0;
    left: 0;

    backdrop-filter: blur(5px);
    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;
}

.outer{
    width: 50%;
    border: 2px solid black;
    padding: 30px 70px;
    background-color: white;

    position: relative;
}

.form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

.fields{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 5px;
}

.fields label{
    font-size: 20px;
}

.text_box, 
.select_box{
    border-radius: 5px;
    padding: 8px;
    border: 2px solid black;
}

.select_box{
    width: 50%;
    align-self: center;
    margin: 10px;
}

input.error, select.error{
    border: 1px solid red;
}

div.error {
    padding: 10px;
    background: #ffefef;
    border: 1px solid red;
    color: red;
    border-radius: 4px;
    margin: 20px 0;
  }

.submit_btn{
    border-radius: 10px;
    font-size: 15px;
    padding: 0.3em 2.5em;
    border: 2px solid grey;
    cursor: pointer;
    background-color: #febe00;
    align-self: center;
}

.outer h2{
    text-align: center;
    font-size: 30px;
    margin: 0  0 25px;
}

.cross{
    border: 2px solid black;
    padding: 2px 5px;
    background-color: lightgrey;
    cursor: pointer; 

    position: absolute;
    right: 20px;
    top: 20px;
}