.outer{
    height: 20%;
    margin: 25px 0;
    display: flex;
    gap: 10px;
    justify-content: center;
}

.outer div{
    border: 2px solid black;
    background-color: lightslategrey;
    aspect-ratio: 1/1;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer
}

.outer .left_arrow{
    transform: rotate(270deg);
    font-size: 15px;
}

.right_arrow{
    transform: rotate(90deg);
    font-size: 15px;
}

.outer .current{
    background: #000;
    color: white;
}